* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    position: fixed;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: rgba(0,0,0,.25);
}

header .brand-logo{
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

header .navigation{
    position: relative;
}

header .navigation .nav-links a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.5s ease;
}

header .navigation .nav-links a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
}

header .navigation .nav-links a:hover:before{
    width: 100%;
}

.btn-color{
  
  position: absolute;
    width: fit-content;
    padding: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
    outline: none;
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #646464;
    padding: 100px 200px;
}

.showcase:before{
    z-index: 777;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.showcase .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
}

.showcase .content h1{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
    color: white;
}

.showcase .content h1 span{
    font-size: 75px;
    font-weight: 600;
}

.showcase .content p{
    margin-bottom: 25px;
}

.showcase .video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#input{
    z-index: 999;
    width: 50%;
    margin: 0 auto;
}

#input [type="text"]{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    border: 2px solid #fff;
    outline: none;
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

#input .btn{
    position: relative;
    left: 45%;
}

#search-btn{
    position: absolute;
    width: fit-content;
    padding: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
    outline: none;
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-btn:hover{
    position: absolute;
    padding: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
    outline: none;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    align-items: center;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: black;
}

.header-text{
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;  
}

.header-text-inv{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.flow-text{
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-decoration: none;
    background-color: white; 
}

.flow-text-inv{
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-decoration: none;
}

.contact-links{
    color: white;
}

#park-btn{
    color: black;
    background-color: white;
    border-radius: 10px;
}

#results{
    display: none;
}

#activity-results{
    background-color:rgb(69, 87, 39);
    color: rgb(243, 228, 210);
    border-top-style: double;
    border-left-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-width: 5px;
    border-color: rgb(185, 125, 13);
    border-radius: 15px;

}

#hotel-results{
background-color: rgb(69, 87, 39);
border-style: double;
border-width: 5px;
border-color: rgb(185, 125, 13);
color:rgb(243, 228, 210);
border-radius: 15px;


}

#restaurant-results{
    background-color: rgb(69, 87, 39);;
    border-style: double;
    border-width: 5px;
    border-color: rgb(185, 125, 13);
    color:rgb(243, 228, 210);
    border-radius: 15px;
    
    
    }



